body,html,h1,h2,p,div,a,img,header,footer,span,section{
    margin:0;
    padding:0;
    font-family:Arial;
}
header{
    background: #00b4de;
    color: #fbfbfb;
    text-align:center;
    padding: 1em 0;
    height: 120px;
}


*{box-sizing:border-box;}

html, body{
    width:100%;
    min-width:1500px;
}
ul,li,a{
    margin:0;
    padding:0;
    color:#f2f2f2;
    text-decoration:none;
    list-style-type:none;
}
nav {
    width: 100%;
    position: relative;
    margin: 0 auto;
}
nav{perespective:800px; z-index:999}

#main-navigation-container{
    width:100%;
    background:#03596d;
}
.navigation-items{
    float:left;

}
.navigation-items>ul>li{
    float:left;
    height:100%
}
.navigation-items>ul>li>a{
    line-height: 4rem;
    display: inline-block;
    padding: 0 1rem;

}
.submenu-container {
    width: 100%;
    position: absolute;
    left: 0;
    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDE0IDc5LjE1Njc5NywgMjAxNC8wOC8yMC0wOTo1MzowMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RTRGMkQxNzkzQ0Y5MTFFNUJBODRDODUwNDI0MzVCMzgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RTRGMkQxN0EzQ0Y5MTFFNUJBODRDODUwNDI0MzVCMzgiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpFNEYyRDE3NzNDRjkxMUU1QkE4NEM4NTA0MjQzNUIzOCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpFNEYyRDE3ODNDRjkxMUU1QkE4NEM4NTA0MjQzNUIzOCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PtgJyLgAAAAPSURBVHjaYmBgYEgDCDAAAGsAZw2+cz4AAAAASUVORK5CYII=');

    border: 1px solid #cecece;
    border-top: none;
    padding: 1rem;
    z-index: 1001;
    opacity: 0;
    visibility: hidden;
    transform: rotateY(180deg);
    transform-origin: top;
    transition: .4s opacity ease, .4s transform cubic-bezier(0.902, 0.149, 0.22, 0.934)

}

.navigation-items>ul>li:hover>a+.submenu-container{
    opacity:1;
    visibility: visible;
    z-index:1002;
    transform:rotateY(0deg);

}

.navigation-items>ul>li:hover>a, .naviagtion-items>ul>li:focus>a{
    background:#f2f2f2;
    color:#d60052;

}
.list1{
    float:left;
    width:18%;
}
.list{
    float:left;
    width:18%;
    padding-left: 25px;
}

.category-title h2{
    color: rgb(255,255,255);
    display:inline-block;
    font-size: 2.5rem;
    margin: 0.3rem 0px;

}
.submenu li a{
    font-size: 1.4rem;
    line-height:1.5;
    color:#ffffff;
}
.submenu li a:hover{
    color: #ffffff;
    border-bottom: 1px dotted #03596d;
}
#main-navigation-container::after,
#main-navigation-container::before{
    content:' ';
    display:block;
}
#main-navigation-container::after{
    clear:both;
}
