body,html,h1,h2,p,div,a,img,header,footer,span,section{
    margin:0;
    padding:0;
    font-family:Arial;
}
header{
    background: #00b4de;
    color: #fbfbfb;
    text-align:center;
    padding: 0rem 0;
}


*{box-sizing:border-box;}

html, body{
    width:100%;
    min-width:1500px;
}
ul,li,a{
    margin:0;
    padding:0;
    color:#f2f2f2;
    text-decoration:none;
    list-style-type:none;
}
nav {
    width: 100%;
    position: relative;
    margin: 0 auto;
}
nav{perespective:800px; z-index:999}

#main-navigation-container{
    width:100%;
    background:#03596d;
}
.navigation-items{
    float:left;
}
.navigation-items>ul>li{
    float:left;
    height:100%
}
.navigation-items>ul>li>a{
    line-height: 4rem;
    display: inline-block;
    padding: 0 1rem;

}
.submenu-container {
    width: 100%;
    position: absolute;
    left: 0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFW…V0IGVuZD0iciI/PtgJyLgAAAAPSURBVHjaYmBgYEgDCDAAAGsAZw2+cz4AAAAASUVORK5CYII=);
    border: 1px solid #cecece;
    border-top: none;
    padding: 1rem;
    z-index: 1001;
    opacity: 0;
    visibility: visible;
    transform: rotateY(180deg);
    transform-origin: top;
    transition: .4s opacity ease, .4s transform cubic-bezier(0.902, 0.149, 0.22, 0.934)

}

.navigation-items>ul>li:hover>a+.submenu-container{
    opacity:1;
    visibility: visible;
    z-index:1002;
    transform:rotateY(0deg);

}

.navigation-items>ul>li:hover>a, .naviagtion-items>ul>li:focus>a{
    background:#f2f2f2;
    color:#d60052;

}
.list{
    float:left;
    width:15%
}
.category-title h2{
    color: #E6E6FA;
    display:inline-block;
    margin: 0.3rem 0px;
    font-size: 2.5rem;
}
.submenu li a{
    font-size: 1.5rem;
    line-height:1.5;
    color:#ffffff;
}
.submenu li a:hover{
    color: #ffffff;
    border-bottom: 1px dotted #03596d;
}
#main-navigation-container::after,
#main-navigation-container::before{
    content:'';
    display:block;
}
#main-navigation-container::after{
    clear:both;
}
