body{
    font-family:Arial;
}

#head{
    height: 1000px;
}
p{
    font-size: 20px;
}


header{
	height: 100px;
	background: #dbdbdb;
	width: 100%;
	z-index: 10;
	position: fixed;
}

.dude{  margin-left: -80px;
        width: 1295px;
        height: 250px;
        background-color: lightgrey;
        margin-bottom:-40px;
        text-align: center; 
}



.fixed-social-icons {
    background: grey no-repeat;
    height: 251px;
    width: 45px;
    border: 1px;
    height: 160px !important;
    width: 39px !important;
    text-align: center;
    position: fixed;
    left: 0;
    top: 140px;
    z-index: 99;
    padding-top: 8px;
}

